# Compilados
*.class

# Directorios de construcción
/target/
/bin/
/build/

# Archivos de configuración de IDEs
/.idea/
/.vscode/
/*.iml

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de dependencias de Maven
/.mvn/
/mvnw
/mvnw.cmd
*.log

# Archivos de dependencias de Gradle
.gradle/
/build/

# Archivos de configuración de Eclipse
/.classpath
/.project
/.settings/

# Archivos temporales de editores de texto
*~ 
*.swp
